@font-face {
    font-family: "Friends Font"; /*a name to be used later*/
    src: url("../fonts/GABRWFFR.TTF"); /* URL to Font */
}

* {
    box-sizing: border-box;
}

body { 
   font-family: "Friends Font";
   font-size: 20px;
   text-align: center;
   line-height: 42px;
   color: white;
   background: black;
}

h1 {
    padding-top: 40px;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 15px;
    margin: 40px 0;
}

#logo {
    margin-bottom: 50px;
    width: 100%;
}

#start-button button, .start-over {
    font-family: "Friends Font";
    padding: 20px 100px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 40px;
} 

.questions-screen {
    background-color: white;
    border-radius: 20px;
    color: black;
    width: 80%;
    margin: auto;
    font-family: 'Averia Serif Libre', cursive;
    padding: 10px 10px 60px 10px;
    margin-top: 40px;
    display: none;
}

#visible {
    display: block;
}

.questions-screen h1 {
    font-family: "Friends Font";
    font-size: 50px;
    letter-spacing: 1px;
}

.question {
    font-size: 30px;
}

.question, .answers, .status,
.gif, .correct-a, .last-screen {
    display: none;
}

.answer:hover {
    border: 2px solid #ccc;
}

.correct-a {
    font-size: 24px;
}
.start-over {
    border: 3px, solid, black;
    margin-top: 10px;
}